<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Primary Meta Tags -->
<title>@@pageTitle</title>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Brikks, solution de rentabilisation des véhicules de courtoisie",
    "alternateName": "Brikks",
    "url": "https://brikks.co",
    "description": "Brikks propose une solution innovante d’optimisation de gestion financière et logistique de vos véhicules de courtoisie / rent",
    "mainEntityOfPage": [
        {
          "@type": "WebPage",
          "@id": "https://brikks.co/contact",
          "url": "https://brikks.co/contact",
          "name": "Nous contacter",
          "description": "ENvie de rentabiliser vos véhicules de courtoisies ?"
        },
        {
          "@type": "WebPage",
          "@id": "https://brikks.co/qui-sommes-nous",
          "url": "https://brikks.co/qui-sommes-nous",
          "name": "Qui sommes-nous ?",
          "description": "Brikks, solution de rentabilisation des véhicules de courtoisie"
        },
        {
          "@type": "WebPage",
          "@id": "https://brikks.co/plateforme-de-gestion",
          "url": "https://brikks.co/plateforme-de-gestion",
          "name": "Plateforme de gestion",
          "description": "Le digital au service de la rentabilité de vos véhicules"
        },
        {
          "@type": "WebPage",
          "@id": "https://brikks.co/gestion-de-jockey",
          "url": "https://brikks.co/gestion-de-jockey",
          "name": "Gestion du service de Jockey ",
          "description": "Vous souhaitez digitaliser vos demandes de Jockey ?"
        },
        {
          "@type": "WebPage",
          "@id": "https://brikks.co/gestion-mobilite-douce",
          "url": "https://brikks.co/gestion-mobilite-douce",
          "name": "Gestion de la mobilité douce",
          "description": "Vous souhaitez pourvoir gérer l'utilisation de vos vélos et trottinettes de courtoisie ?"
        }
    ]
}
</script>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://brikks.co/">
<meta property="og:title" content="Brikks Services de Jockeys">
<meta property="og:description" content="Brikks propose des services de jockeys pour l’entretien automobile, pour la livraison de véhicule neuf ou d’occasion mais également pour les flottes de véhicule en auto-partage ou en parc">
<meta property="og:image" content="https://brikks.co/assets/img/convoicar-services-de-jockey.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://brikks.co/">
<meta property="twitter:title" content="Brikks Services de Jockeys">
<meta property="twitter:description" content="Brikks propose des services de jockeys pour l’entretien automobile, pour la livraison de véhicule neuf ou d’occasion mais également pour les flottes de véhicule en auto-partage ou en parc">
<meta property="twitter:image" content="https://brikks.co/assets/img/convoicar-services-de-jockey.png">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">
<link rel="stylesheet" href="@@webRoot/node_modules/choices.js/public/assets/styles/choices.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="@@webRoot/node_modules/jarallax/dist/jarallax.css">
<link rel="stylesheet" href="@@webRoot/node_modules/quill/dist/quill.core.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/@fortawesome/fontawesome-free/css/all.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.2.2/css/flag-icons.min.css">

<!-- Map -->
<!-- <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' /> -->

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->


