<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@container d-flex justify-content-around">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot">
      <img src="@@webRoot/assets/img/brikks.svg" class="navbar-brand-img" alt="Brikks Services de Jockey">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Nos services <i class="fas fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount dropdownMenuLink">
            <li>
              <a class="dropdown-link" href="@@webRoot/rentabilisation-vehicule">
                <img height=25 src="@@webRoot/assets/img/courtoisie.png"/> Rentabilisation des véhicules
              </a>
            </li>
            <li>
              <a class="dropdown-link" href="@@webRoot/gestion-de-jockey">
                <img height=25 src="@@webRoot/assets/img/jockey-2.png"/> Gestion des services de jockey
              </a>
            </li>
            <li>
              <a class="dropdown-link" href="@@webRoot/gestion-mobilite-douce" >
                <img height=25 src="@@webRoot/assets/img/trottinette.png"/> Gestion de la mobilité douce
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/plateforme-de-gestion" aria-haspopup="true" aria-expanded="false">
            Plateforme de gestion
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/qui-sommes-nous" aria-haspopup="true" aria-expanded="false">
            À propos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/blog" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
        </li>
      </ul>

      <!-- Button -->
      <ul class="navbar-nav ml-auto">
        <!--
          <select id="language-selector">
            <option value="fr">🇫🇷</option>
            <option value="es">🇪🇸</option>
          </select> 
        !-->
        <a class="navbar-btn btn btn-sm btn-primary-soft lift m-1" href="https://app.brikks.co" target="_blank">
          Se connecter
        </a>
        <a class="navbar-btn btn btn-sm btn-primary lift m-1" href="@@webRoot/contact" target="_blank">
          Demandez une démo
        </a>
      </ul>

    </div>

  </div>
</nav>
